---
import Section from '../components/Section.astro';
import Container from '../components/Container.astro';
import Typography from '../components/Typography.astro';
import Timeline from '../components/Timeline/Timeline.astro';
---

<Section id="life" minHeight="full">
  <Container maxWidth="md" padding="md">
    <Timeline />
  </Container>
</Section>

<style>
</style>
