:root {
  --theme-dark-primary: #181818;
  --theme-dark-secondary: #EA80FC;
  --theme-dark-accent: #FFB2FF;
  --theme-dark-text: #FFFFFF;
  --theme-dark-text-secondary: #E0E0E0;
}

@font-face {
  font-family: 'Righteous';
  src: url('../font/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url('../font/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans-ExtraBold';
  src: url('../font/Nunito_Sans/NunitoSans-ExtraBold.ttf') format('truetype');
}

html {
  font-family: 'NunitoSans-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 250px;
  color: var(--theme-dark-text) !important;
  background-color: var(--theme-dark-primary);
  box-shadow: 0 4px 2px 2px var(--theme-dark-primary);
  transition: 0.1s;
  z-index: 1;
}

.navbar-right {
  display: flex;
}

.navbar .navbar-left .logo {
  font-family: 'Righteous';
  cursor: pointer;
  transition: 0.3s;
  color: var(--theme-dark-text);
}

.navbar .navbar-left .logo:hover {
  color: var(--theme-dark-accent);
}

.navbar-right .navbar-icon a {
  height: 16px;
}

.navbar-center .navlink, .navbar-right .navbar-icon {
  margin: 0 7px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.navbar-center .navlink:hover, .navbar-right .navbar-icon:hover {
  border-bottom: 4px solid var(--theme-dark-secondary);
}

.blur {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 27, 41 .5);
  backdrop-filter: blur(10px);
  overflow: scroll;
}

.hero {
  padding:  60px 250px 0 250px;
  height: 100vh;
  background-color: var(--theme-dark-primary);
  position: relative;
  transition: 0.1s;
}

.hero .container {
  position: absolute;
  top: 40%;
  left: 250px;
  right: 250px;
  transition: 0.1s;
}

.hero .container h1 {
  color: var(--theme-dark-text);
  font-family: 'NunitoSans-ExtraBold';
  font-size: 3rem;
}

.color-secondary {
  color: var(--theme-dark-secondary);
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 15px 50px;
  }

  .hero {
    padding:  60px 50px 0 50px;
  }

  .hero .container {
    left: 50px;
    right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 15px 25px;
  }

  .hero {
    padding:  60px 25px 0 25px;
  }

  .hero .container {
    left: 25px;
    right: 25px;
  }
}

@media screen and (max-width: 556px) {
  .navbar-center {
    display: none;
  }
}

.test {
  background-color: var(--theme-dark-primary);
  height: 200vh;
  position: relative;
}

.test2 {
  background-color: var(--theme-dark-text);
  height: 100vh;
}